*{
 font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
 font-weight: 700;
}

.list-group-item:hover{
 background-color:rgb(187, 255, 0);
}
#text1{
 font-style: oblique;
 font-size: 25px;
 color: black;
 font-weight: italic;
 text-transform: capitalize;
 font-weight: 600;
 font-family: "Times New Roman", Times, serif;
}
#text2{
 font-style: oblique;
 font-size: 25px;
 color:black;
 font-weight: italic;
 text-transform: capitalize;
 font-weight: 600;
 font-family: "Times New Roman", Times, serif;
}
#id1{
height: 100%;
width: 1200px;
border-style: groove;
border-width: 2px;
padding: 10px;
}

